html, body {
  font-family: Georgia, "Hiragino Sans GB", serif;
  overflow: hidden;
}

a[name], [as-bg] {
  position: absolute;
  top: 0;
  left: 0;
}

[as-bg] {
  z-index: 0;
}

[name="cover"] em {
  position: relative;
  color: #ff5d88;
  text-shadow: -0.05em -0.05em #ffc5ae66, 0.1em 0.1em #82f6f388;
}

.reveal .slide-background {
  background-color: #282a36;
}

.CodeMirror pre {
  font-size: 1.5rem;
  box-shadow: unset;
}

.box-container {
  display: flex;
  align-items: center;
  max-width: 80vw;
}
.box-content,
.box-source {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.box-content {
  width: 500px;
}

.box-source {
  flex: 1;
}